@charset "utf-8";
* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: teal;
    font-family: 'Sniglet', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.value-container {
    display: none;
}

.value-container.is-active {
    display: block;
}

.container {
    background-color: #fff;
    display: block;
    max-width: 1000px;
    padding: 20px;
}

.input {
    clear: both;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

input[type="text"] {
    height: 30px;
}

label,
legend {
    display: block;
    font-size: 25px;
    margin: 10px 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ffac00;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}